.background {
	background-image: url("http://bestanimations.com/Nature/Fire/fire-burning-animated-gif-image.gif");
    background-size: 100%;
    height:100%;
}

p{
	color:white;
	font-family: 'Crete Round', serif;
}





p.firstwhite{


	font-size: 27px;

}


p.why{
	font-size: 30px;

}
